section.about-corp
	.container
		.row
			.col-12.col-lg-6.box-content.d-flex.align-items-center.justify-content-center
				figure
					figcaption
						h2.h2 OBAYASHI CORPORATION
						p The scope of business: To provide service of consultancy on construction engineering, design & construction, execution of industrial & civil projects, execution of supervision and project management in the process of construction execution. 
						button.btn.btn-primary.btn-more(type="button") About obayashi 
							i.fas.fa-arrow-right
			.col-lg-6
				.row.no-gutters
					.col-md-4.item
						.hidden
							a.link-video(href="./img/home/home_item_1.png")
								img(src="./img/home/home_item_1.png", alt="")
							a.link-video(href="./img/home/home_item_1.png")
								img(src="./img/home/home_item_1.png", alt="")
							a.link-video(href="./img/home/home_item_1.png")
								img(src="./img/home/home_item_1.png", alt="")
							a.link-video(href="./img/home/home_item_1.png")
								img(src="./img/home/home_item_1.png", alt="")
						a.link-video(href="./img/home/home_item_1.png")
							figure.box-content(bg-img-responsive="./img/home/home_item_1.png",
							bg-img-responsive-sm="./img/home/home_item_1.png",
							bg-img-responsive-xs="./img/home/home_item_1.png")
								.box
									img(src="./img/home/icon/play-button.png", alt="")
									figcaption.title
										h3.h3 Obayashi Corp
					.col-md-4.item
						.hidden
							a.link(href="./img/home/home_item_2.png")
								img(src="./img/home/home_item_2.png", alt="")
							a.link(href="./img/home/home_item_2.png")
								img(src="./img/home/home_item_2.png", alt="")
							a.link(href="./img/home/home_item_2.png")
								img(src="./img/home/home_item_2.png", alt="")
							a.link(href="./img/home/home_item_2.png")
								img(src="./img/home/home_item_2.png", alt="")
						a.link(href="./img/home/home_item_2.png")
							figure.box-content(bg-img-responsive="./img/home/home_item_2.png",
							bg-img-responsive-sm="./img/home/home_item_2.png",
							bg-img-responsive-xs="./img/home/home_item_2.png")
								.box
									img(src="./img/home/icon/picture-button.png", alt="")
									figcaption.title
										h3.h3 Safety
					.col-md-4.item
						.hidden
							a.link(href="./img/home/home_item_3.png")
								img(src="./img/home/home_item_3.png", alt="")
							a.link(href="./img/home/home_item_3.png")
								img(src="./img/home/home_item_3.png", alt="")
							a.link(href="./img/home/home_item_3.png")
								img(src="./img/home/home_item_3.png", alt="")
							a.link(href="./img/home/home_item_3.png")
								img(src="./img/home/home_item_3.png", alt="")
						a.link(href="./img/home/home_item_3.png")
							figure.box-content(bg-img-responsive="./img/home/home_item_3.png",
							bg-img-responsive-sm="./img/home/home_item_3.png",
							bg-img-responsive-xs="./img/home/home_item_3.png")
								.box
									img(src="./img/home/icon/conversation-button.png", alt="")
									figcaption.title
										h3.h3 Messages From Staffs
